#container {
	width: 100%; 
	height: 100%;
	position: relative;
	/*background: yellow;*/
}

.comment-box {
	/*background: red;*/
	position: absolute;
	z-index: 9999;
	left: 10px;
	top: 20px;
}

#comment-list {
    /*background: blue;*/
    padding: 180px 10px 0px 10px;
    height: 0px;
}

.comment-form :focus {
    outline:none;
}

.comment-form {
	float: left;
	min-width: 250px;
}

.error-info-tip {
    float: left;
    margin: 10px 5px;
    color: red;
    font-size: small;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 210px;
}

.comment-actions-form .comment-form-submit {
	white-space: nowrap;
	border-radius: 4px;
	height: 38px;
	width: 80px;
	display: inline-block;
	background-color: rgba(29,47,58,.6);
	line-height: 38px;
	padding: 0;
	border: none;
	cursor: pointer;
	float: right;
	margin: 5px 5px 0px 0px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
}
.comment-actions-form .comment-form-submit .icon {
    margin: 9px;
    fill: #fff;
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.comment-actions-form .comment-form-submit:hover {
    background-color: rgba(29,47,58,.75);
}
.comment-form-wrapper {
	margin: 0px 5px 5px 5px;
}
.comment-form-textarea {
    background-color:#fff;
    border:2px solid #dbdfe4;
    transition:all .2s linear;
    padding:2px 10px;
    border-radius:4px;
    font-size:14px;
    height: 84px;
    width: 100%;
    line-height:20px;
    -webkit-box-flex:1;
    -ms-flex:auto;
    flex:auto;
    box-sizing:border-box;
    display:block;
    overflow:auto;
    color:#2a2e2e;
    cursor:text;
    resize:none;
    font-family: Arial;
}
.comment-form-textarea:focus {
    border:2px solid #c2c6cc
}
.comment-login {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    /*opacity:0;*/
    transition:all .5s .2s;
    /*height:0;*/
    /*margin:-40px -5px 40px;*/
    /*overflow:hidden;*/
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.comment-form-input {
    background-color:#fff;
    border:2px solid #dbdfe4;
    transition:all .2s linear;
    padding:0 10px;
    border-radius:4px;
    font-size:14px;
    height:32px;
    margin:0 5px;
    width:30px;
    line-height:32px;
    -webkit-box-flex:1;
    -ms-flex:auto;
    flex:auto;
    font-family: Arial;
}
.comment-form-input::-webkit-input-placeholder {
    color:#7f919e;
}
.comment-form-input::-moz-placeholder {
    color:#7f919e;
}
.comment-form-input:focus {
    border:2px solid #c2c6cc;
}
.comment-form-input[disabled] {
    color:#656c7a;
}

/*.comment-avatar {
	float: left;
    display: block;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.comment-avatar img {
    border-radius: 3px;
    width: 48px;
    height: 48px;
}

.avatar {
    float: left;
}*/