<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <link rel="stylesheet" type="text/css" href="./iDisqus.min.css">
</head>
<body>

<div id="disqus-ident">ghost-5971becb4ab6c014a0b1f7c6</div>
<div id="disqus-link"></div>
<div id="disqus-title">Disqus PHP API 示例</div>

<div id="gfw-comment">

<div class="comment loading" id="idisqus">
    <div class="loading-container" data-tip="正在加载评论……">
        <svg class="loading-bg" width="72" height="72" viewBox="0 0 720 720" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <path class="ring" fill="none" stroke="#9d9ea1" d="M 0 -260 A 260 260 0 1 1 -80 -260" transform="translate(400,400)" stroke-width="50" />
            <polygon transform="translate(305,20)" points="50,0 0,100 18,145 50,82 92,145 100,100" style="fill:#9d9ea1"/>
        </svg>
    </div>

    <div class="comment-header">
        <span class="comment-header-item" id="comment-count">评论</span>
        <a target="_blank" class="comment-header-item" id="comment-link">Disqus 讨论区</a>
    </div>

    <div class="comment-box">
        <div class="comment-avatar avatar">
            <img class="comment-avatar-image" src="./images/noavatar92.png">
        </div>
        <div class="comment-form">
            <div class="comment-form-wrapper">
                <textarea class="comment-form-textarea" placeholder="加入讨论……"></textarea>
                <div class="comment-image">
                    <ul class="comment-image-list"></ul>
                    <div class="comment-image-progress">
                        <div class="comment-image-loaded"></div>
                    </div>
                </div>
                <div class="comment-form-alert"></div>
                <div class="comment-actions">
                    <div class="comment-actions-group">
                        <input id="upload-input" class="comment-actions-input comment-image-input" type="file" accept="image/*" name="file"> 
                        <label class="comment-actions-label" for="upload-input" title="上传图片">
                            <svg class="icon" fill="#c2c6cc" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
                                <path d="M15.515152 15.515152 15.515152 15.515152 15.515152 15.515152Z"></path>
                                <path d="M15.515152 139.636364l0 806.787879 992.969697 0 0-806.787879-992.969697 0zM946.424242 884.363636l-868.848485 0 0-682.666667 868.848485 0 0 682.666667zM698.181818 356.848485c0-51.417212 41.673697-93.090909 93.090909-93.090909s93.090909 41.673697 93.090909 93.090909c0 51.417212-41.673697 93.090909-93.090909 93.090909s-93.090909-41.673697-93.090909-93.090909zM884.363636 822.30303l-744.727273 0 186.181818-496.484848 248.242424 310.30303 124.121212-93.090909z"></path>
                            </svg>
                        </label>
                    </div>
                    <div class="comment-actions-form">
                        <label class="comment-actions-label exit" title="重置访客信息">
                            <svg class="icon" fill="#c2c6cc" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="48" height="48">
                                <path d="M348.870666 210.685443l378.570081 0c32.8205 0 58.683541 26.561959 58.683541 58.683541 0 162.043606 0 324.804551 0 486.848157 0 32.81129-26.561959 58.674331-58.683541 58.674331L348.870666 814.891472c-10.477632 0-18.850323-8.363482-18.850323-18.841114l0-37.728276c0-10.477632 8.372691-18.841114 18.850323-18.841114l343.645664 0c10.477632 0 18.850323-8.372691 18.850323-18.850323L711.366653 304.983109c0-10.477632-8.372691-18.841114-18.850323-18.841114L348.870666 286.141996c-10.477632 0-18.850323-8.363482-18.850323-18.841114l0-37.728276C329.98248 219.095997 338.393034 210.685443 348.870666 210.685443z"></path>
                                <path d="M128.152728 526.436804l112.450095 112.450095c6.985088 6.985088 19.567661 6.985088 26.552749 0l26.561959-26.561959c6.985088-6.985088 6.985088-19.567661 0-26.552749l-34.925441-34.925441L494.168889 550.84675c10.477632 0 18.850323-8.372691 18.850323-18.850323l0-37.719066c0-10.477632-8.372691-18.850323-18.850323-18.850323L258.754229 475.427036l34.925441-34.925441c6.985088-6.985088 6.985088-19.567661 0-26.552749l-26.561959-26.524097c-6.985088-6.985088-19.567661-6.985088-26.552749 0L128.152728 499.875868C120.431883 506.859933 120.431883 519.451716 128.152728 526.436804z"></path>
                            </svg>
                        </label>
                        <button class="comment-form-submit">
                            <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
                                <path d="M565.747623 792.837176l260.819261 112.921839 126.910435-845.424882L66.087673 581.973678l232.843092 109.933785 562.612725-511.653099-451.697589 563.616588-5.996574 239.832274L565.747623 792.837176z" fill="#ffffff"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div class="comment-login">
                <input class="comment-form-input comment-form-name" type="text" placeholder="名字（必填）" autocomplete="name">
                <input class="comment-form-input comment-form-email" type="email" placeholder="邮箱（必填）" autocomplete="email">
                <input class="comment-form-input comment-form-url" type="url" placeholder="网址（可选）" autocomplete="url">
            </div>
        </div>
    </div>
    <ul id="comments" class="comment-list"></ul>
    <a href="javascript:;" class="comment-loadmore">加载更多</a>
</div>

</div>


<script type="text/javascript" src="./iDisqus.js"></script>
<script type="text/javascript">
	var disq = new iDisqus();
</script>

</body>
</html>




