<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <title> <%= title %> </title>
  <style type="text/css">
		html {
			height:100%;
			margin:0;
		}
		body {
			height:100%;
			margin:0;
		}
      </style>
</head>
<body>
	<div id="disqus_thread">
	</div>
	<script type="text/javascript">
	var gfw_disqus_config = {
		url: 'http://disqus.wangzhechao.com'
	};
	
	var disqus_config = function () {
	    this.page.url = '';
	    this.page.identifier = 'ghost-5971becb4ab6c014a0b1f7c6';
	};
	</script>

	<script type="text/javascript" src="/embed.js"></script>
</body>
</html>
