<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="/graphics.min.js"></script>
  <script type="text/javascript" src="/reqwest.js"></script>

  <title> <%= title %> </title>
  <style type="text/css">
		html {
			height:100%;
			margin:0;
		}
		body {
			height:100%;
			margin:0;
		}
      </style>
</head>
<body>
	<div id="disqus_thread">
<!-- 		<div class="comment-box">
		    <div class="comment-avatar avatar">
		        <img class="comment-avatar-image" src="./images/noavatar92.png">
		    </div>
		    <div class="comment-form">
		    	<div class="comment-form-wrapper">
		        	<textarea class="comment-form-textarea" placeholder="加入讨论……"></textarea>
		        </div>

		        <div class="comment-login">
		            <input class="comment-form-input comment-form-name" type="text" placeholder="名字（必填）" autocomplete="name">
		            <input class="comment-form-input comment-form-email" type="email" placeholder="邮箱（必填）" autocomplete="email">
		            <input class="comment-form-input comment-form-url" type="url" placeholder="网址（可选）" autocomplete="url">
		        </div>

		        <div class="comment-actions-form">
		    	    <button class="comment-form-submit">
		    	        <svg class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
		    	            <path d="M565.747623 792.837176l260.819261 112.921839 126.910435-845.424882L66.087673 581.973678l232.843092 109.933785 562.612725-511.653099-451.697589 563.616588-5.996574 239.832274L565.747623 792.837176z" fill="#ffffff"></path>
		    	        </svg>
		    	    </button>
		        </div>
		    </div>
		</div>

		<div id="comment-list">
		</div> -->
	</div>
	<script type="text/javascript">
	var disqus_config = function () {
	    this.page.url = '{{url absolute="true"}}';
	    this.page.identifier = 'ghost-{{id}}';
	};		
	</script>

	<script type="text/javascript" src="/embed.js"></script>
</body>
</html>
